a{
    display: flex;
    // width: 100px;
    // height:50px;
    border: 2px solid grey;
    float:inline-end;
    background-color:grey;
    color: azure;
    // margin: 10px 20px;   
    padding: 10px 10px;

}

.active{
    background-color:rgb(107, 102, 102);
    border: 2px solid grey;
    font-weight: bolder;
}

