<nav class="navbar navbar-expand-lg navbar-light justify-content-between sticky-top  " style="background-color: grey; ">

    <div class="form-inline">


    <a routerLink="Login" routerLinkActive="active" class="navbar-brand" style="color:white">Login</a> 

    <a routerLink="Register" routerLinkActive="active"class="navbar-brand" style="color:white" >Register</a>
    

    <a routerLink="Profile" routerLinkActive="active" class="navbar-brand" style="color:white" >Profile</a> 
   
   
    <a routerLink="Home" routerLinkActive="active" class="navbar-brand" style="color:white">Home</a>




    </div>
    



</nav>