p:first-child {
    color: blue
}
p:nth-child(2) {
    color:red
}
/* img{
    width: 200px;
    height: 200px;
    
} */


:host ::ng-deep h1{
    text-align: center;
    font-style: italic;
 }

 :host{
    display: block;
 }