 <h1>App component</h1>
<p> Inline html template</p>
<p>{{dynamicMessage}}</p>
<input type="text" [disabled]="disabledPropertyValue"> <br>

<button (click)="isbuttonClicked()">{{buttonDynamicValue}}</button>
 
<section *ngIf="condition">Content is displayed when condition is true</section>
 
<h4>List of items</h4>
<ol> <li *ngFor="let list of listofItems">{{list}}</li> </ol>

<img src="../assets/dog.jpg" alt="" width="300" height="200">



<h1 > Hook method</h1> 
<button (click)="toggleDestroy()">Click</button> 


<app-hook-methods [dataFromAppComp]="dataToHookComp" [onChangeCheckData]="onChangeCheckData" [onInitData]="onInitdata" *ngIf="flip" > </app-hook-methods>


<h1>Encapsulation</h1>
<app-emulated> </app-emulated>

<h1>Interaction</h1>
<app-parent-component> </app-parent-component>

<h1>Content Projection</h1>

<app-content-projection> </app-content-projection>

<h1>Template</h1>

<app-template> </app-template>  


 <h1>Directives</h1>

<app-directive> </app-directive>  

 <app-data-table [userData]="data" (tableData)="dataDisplay($event)"></app-data-table>  




<h1>Dependency injection</h1>

<app-file1></app-file1> 

<h1>Routing</h1>

<app-main> </app-main>


<h1>Form</h1>

<app-form> </app-form>


<h1>Observables</h1>

<app-observable> </app-observable>

<app-http-client> </app-http-client>





