 <!-- <h1>App component</h1>
<p> Inline html template</p>
<p>{{dynamicMessage}}</p>
<input type="text" [disabled]="disabledPropertyValue"> <br>

<button (click)="isbuttonClicked()">{{buttonDynamicValue}}</button>
 
<section *ngIf="condition">Content is displayed when condition is true</section>
 
<ol> <li *ngFor="let list of listofItems">{{list}}</li>
</ol>
<img src="../assets/dog.jpg" alt="" width="300" height="200">

<h1 > Hook method</h1>

<button (click)="isDestroy()">Click</button>

<app-hook-methods [data]="onchangeData" [data2]="onchangecheckdata" [destroy]="destroy"> Content is visible</app-hook-methods>

<h1>Encapsulation</h1>
<app-encapsulation></app-encapsulation> -->

<!-- <app-interaction></app-interaction> -->

<!-- <app-content-projection> </app-content-projection> -->
<!-- 
<h1>Template</h1>

<app-template> </app-template>  -->


<h1>Directives</h1>

<app-directive> </app-directive>
