<h2>Attribute Directives</h2>

<h5>Ng Class with expression - condition</h5>

<p [ngClass]="classActiveCondition ? 'class1': '' ">If conditon is true paragraph background color is aqua</p>


<p [ngClass]="'first second'"> ng class string type</p>
<p [ngClass]="['first', 'second']">ng class array type </p>
<p [ngClass]="{'first second': false}"> ng class object type</p>
<p [ngClass]="{ first:true,  second:true}"> ng class object type </p>


<h3>setting class name using expressions</h3>

<p [ngClass]="classname1 + classname1">Text is bold</p>
<p [ngClass]="classname1 + classname2">Text is large size</p>
<p [ngClass]="[classname1,'classname3']">Text is italic</p>

<p [ngClass]="{classname4:true, classname5:true}">Paragaraph is georgia </p>


<h5>ngclass with functions</h5>

<p [ngClass]="classes">Ng class with classes </p>

<h5>ngstyles with function</h5>

<p [ngStyle]="styles">Ng styles with method</p>


<h2>Structural Directives</h2>

<p *ngIf="condition">Condition is true </p>

<h4>Ngif property binding</h4>

<ng-template [ngIf]="condition">
    <div>Ngif property binding...........</div>
</ng-template>

<h5>ngIf elseblock</h5>

<div *ngIf="condition; else elseblock">If block executed</div>
<ng-template #elseblock>Else block displayed</ng-template>

<h4>Ngif with then and else block</h4>
<div *ngIf="condition; then thenblock else elseblock"> </div>
<ng-template #thenblock>Then block is displayed</ng-template>
<ng-template #elseblock> Else block is displayed</ng-template>

<br><br>

<button (click)="show=!show">{{show? "hide": "show"}}</button>

<div *ngIf="show"> When show button is clicked content is shown</div>

<h4>NgFor</h4>

<ul>
    <li *ngFor="let item of items">{{item.name}}</li>
</ul>

<h4>Getting index</h4>

<div *ngFor="let item of arrayItems; let i = index">index: {{i+1}} value: {{item}}</div>

<h4>array</h4>

<div *ngFor="let item of arrayItems;">{{item}} </div>


<h4>hosting directive without dom element</h4>
<ng-container *ngIf=true>ng container without dom element</ng-container>

<h4>ngSwitch </h4>
<div [ngSwitch]="day">
<div *ngSwitchCase=1>Sunday</div>
<div *ngSwitchCase=2>Monday</div>
<div *ngSwitchCase=3>Tuesday</div>
<div *ngSwitchCase=4>Wednesday</div>
<div *ngSwitchCase=5>Thursday</div>
<div *ngSwitchCase=6>Friday</div>
<div *ngSwitchCase=7>Saturday</div>
<div *ngSwitchDefault>Hence it is invalid number</div>  
</div>



<p *ngFor ="let item of name | keyvalue"> {{item.key}} {{item.value}}  </p>

<h2>Custom Directive</h2>

<p HighlightDirective>Highlighting the text using custom directives</p>