p{
    display: block;
    height: 800px;
    border: 2px solid rgb(100, 100, 207);
    margin: 200px 30px;
    color: white;
    background-color: rgb(100, 100, 207);
    padding-top: 400px;
    text-align:center; 
    font-size: xx-large;
}

