.paratag{
    text-decoration: dashed;
    color:darkmagenta;
    text-shadow: 0cqh;
}

img{
    width:300px;
    height:200px;
    border: 20px solid gray;
}

.paraclass{
    color:darkblue;
    text-decoration-line: underline;
}

.class1{
    color:red;
    text-decoration-line: underline;
    text-decoration-color: darkcyan;
    font-style: italic

}

.class2{
    color:cadetblue;
    text-decoration-line: overline;
    /* font-style: normal; */
}
