
p{
    display: block;
    height: 800px;
    border: 2px solid cadetblue;
    margin: 200px 30px;
    color: white;
    background-color: rgb(107, 147, 148);
    padding-top: 400px;
    text-align:center; 
    font-size: xx-large;
}

