<p *ngIf="true"> If NgIf is true paragraph is displayed</p> 
<ng-template [ngIf]="false"><p>ng-template-content is displayed if ngIf is true</p></ng-template>
    <!-- then and else block   -->
<div *ngIf="ngIfcondition; then thenblock else elseblock"></div>
<ng-template #thenblock >If ngIf is {{ngIfcondition}}, thenblock content is displayed</ng-template> 
<ng-template #elseblock>If ngIf is {{ngIfcondition}}, elseblock content is displayed</ng-template>

<br>
<button (click)="show=!show">{{show?"hide":"show"}}</button>
<div *ngIf="show; then thenshow else elsehide"></div>
<ng-template #thenshow><p>Content is shown</p></ng-template> 
<ng-template #elsehide><p>Content is hidden</p></ng-template>
 


