footer{
    text-align: center;
    display: block;
    background-color: cadetblue;
    color:azure;
    margin: 200px 30px;
    height: 50px;
    font-size: medium;
    padding-top: 25px;
    font-style: italic;
    /* margin-bottom:100px; */
}


