   img{
    // width: 1848px;
    // height:600px;
    // image-resolution: 1115*250;

   }

.background{
   background-image: url('/assets/pexels-any-lane-5946083-fotor-2024022817746.png');
   background-repeat: no-repeat;
   background-size: cover;
   height:100vh
   background-
}