<div class="background">
  <form action="" [formGroup]="loginDetails" class="card">
    <label for=""  class="newline">Login</label>
    <br />
    <div class="paddingdiv">
      <div>
        <input
          type="text"
          formControlName="username"
          class="form-control form-control lg"
          placeholder="UserName"
        />

  <!-- <div *ngIf="loginDetails."></div> -->


      </div>
      <br />



      
      <div>
        <input
          type="text"
          formControlName="password"
          class="form-control form-control lg"
          placeholder="Password"   
        />
      </div>

      <div *ngIf="loginvalid" class="password">*Password should match </div>

      <br />
      <button (click)="checkPassword()">Submit</button>

    </div>
  </form>
</div>
